<!--Welcome page scripts starting-->
<!-- Vendor JS Files -->
<script src="/vendor/purecounter/purecounter.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="scripts/js/main.js"></script>
<!--Welcome page scripts ending-->
</body>
</html>