<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Hosting</title>

    <!--Welcome stylesheets starting-->
    <!-- Favicons -->
    <link rel="icon" href="/img/cloud.png" type="image/icon type">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/stylesheets/css/style.css" rel="stylesheet">
  <link href="/stylesheets/css/sty.css" rel="stylesheet">
  <link href="/stylesheets/css/containers.css" rel="stylesheet">
  <link href="/stylesheets/css/con.css" rel="stylesheet">

  <!--Welcome stylesheets -->

  <!--Login stylesheets-->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'><link rel="stylesheet" href="./style.css">

<link href="/stylesheets/css/loginstyle.css" rel="stylesheet">
<link href="/stylesheets/css/php11.css" rel="stylesheet">
<link href="/stylesheets/css/styleheader2.css" rel="stylesheet">


</div>
</head>
<body>
  <!-- Navbar code -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-scroll fixed-top shadow-0 border-bottom border-dark">
    <div class="container">
      <a class="navbar-brand" href="#!"><i class="fab fa-mdb fa-4x"></i></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!">Our Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Membership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Write</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Sign In</a>
          </li>
          <button type="button" class="btn btn-dark ms-3">Get Started</button>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
  
  <div class="d-flex align-items-center justify-content-center text-center" style="height: 50px;">
    <p class="h3">Scroll down to see the effect of change the navbar background-color</p>
  </div>