<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Hosting</title>

    <!--Welcome stylesheets starting-->
    <!-- Favicons -->
    <link rel="icon" href="/img/cloud.png" type="image/icon type">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/stylesheets/css/style.css" rel="stylesheet">
  <link href="/stylesheets/css/sty.css" rel="stylesheet">
  <link href="/stylesheets/css/containers.css" rel="stylesheet">
  <link href="/stylesheets/css/con.css" rel="stylesheet">

  <!--Welcome stylesheets -->

  <!--Login stylesheets-->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'><link rel="stylesheet" href="./style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
<link href="/stylesheets/css/loginstyle.css" rel="stylesheet">
<link href="/stylesheets/css/php11.css" rel="stylesheet">
<link href="/stylesheets/css/styleheader2.css" rel="stylesheet">



    <style>
        body {
            /* font-family: Arial, Helvetica, sans-serif!important; */
            font-family: 'Poppins',cursive!important;
            font-size: 1em;
        }
        nav{  
            font-family: 'Poppins',cursive!important;
            font-size: 1.2em;
        }
        
    </style>
    <style>
       
    </style>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Application Hosting Platform</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
                <div class="navbar-nav">
                </div>
                <div class="navbar-nav ml-auto" style="position: fixed; right: 2%">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){%>
                        <li><a class="m-2" href="/login" style="color: white;">Login/Register</a></li>
                        <!-- <li><a class="m-2" href="/register"  style="color: white;">Sign up</a></li> -->
                        <% }else{ %>
                        <li><a class="m-2" href="/home">Home</a></li>
                        <li><a class="m-2" href="/containers">Containers</a></li>
                        <li><a class="m-2" href="#"  style="color: white;"><%=currentUser.username%></a></li>
                        <li><a class="m-2" href="/logout" style="color: white;">Logout</a></li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

<div class="container">
    <!-- <% if(error && error.length>0){%>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length>0){%>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %> -->
</div>