
<body>
    <div>
        <% containers.forEach(function(container){%>
            <div class="col-md-3 col-sm-6">
                <div >
                    <div class="caption">
                        <h4><%= container.container_name %></h4>
                    </div>
                    <p>
                        <a href="/containers/<%=container._id%>" class="btn btn-primary" >view</a>
                    </p>
                </div>
                
            </div>
            
        <%})%>
    </div>
<%- include("partials/footer") %>
