
    <!-- <form action="/" method="post" enctype="multipart/form-data">
        file:
        <input type="file" name="upload" id="">
        <input type="text" name="name" id="n" placeholder="enter app name">
        <input type="submit" value="submit">
    </form> -->
    <form action="/containers/new" method="post" >
        Link: <input type="text" name="git_url" id=""><br>
        App name: <input type="text" name="name" id="n" placeholder="enter app name"><br>
        enter content of .env file <textarea name="env" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="submit">

    </form>
<%- include("partials/footer") %>
