<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <!-- <form action="/" method="post" enctype="multipart/form-data">
        file:
        <input type="file" name="upload" id="">
        <input type="text" name="name" id="n" placeholder="enter app name">
        <input type="submit" value="submit">
    </form> -->
    <form action="/git" method="post" >
        Link: <input type="text" name="git_url" id="">
        <input type="text" name="name" id="n" placeholder="enter app name">
        <input type="submit" value="submit">

    </form>
</body>
</html>