<%- include("partials/header") %>

<div>
    <h1>Welcome</h1>
    <button><a href="/containers/new">New container</a></button>
    <button><a href="/login">login</a></button>
</div>
<%- include("partials/footer") %>
