<%- include("partials/header2") %>
<style>
    .index{
        margin-top: 100px;
    }
</style>
<div class="index">
    <h1>Welcome</h1>
    <button><a href="/containers/new">node</a></button>
    <button><a href="/login">login</a></button>
    <button><a href="/containers/mysql">Mysql</a></button>
</div>
<%- include("partials/footer") %>
