<form action="/containers/mysql" method="post" >
    mysql image creation <br>
    App name: <input type="text" name="name" id="n" placeholder="enter app name"><br>

    <input type="submit" value="submit">

</form>
<%- include("partials/footer") %>