
<%- include("partials/header2") %>
		<div class="wrapper">
			<div class="inner">
				<form action="/containers/php" method="post" >
					<h3>PHP Image Creation</h3>
					<p>Please fill in the details</p>
					<!-- <label class="form-group">
						<input type="text" class="form-control"  required>
						<span>Link</span>
						<span class="border"></span>
					</label> -->
					<label class="form-group">
						<input type="text" class="form-control" name="name" id="n" required>
						<span for="">App Name</span>
						<span class="border"></span>
					</label>
                    <label class="form-group">
						<input type="text" class="form-control" name="mysql_container" id="" required>
						<span for="">MySQL Container Name</span>
						<span class="border"></span>
					</label>
					
					<button type="submit" value="submit"> Submit 
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>

<%- include("partials/footer") %>