<form action="/containers/php" method="post" >
    Link: php image creation
    App name: <input type="text" name="name" id="n" placeholder="enter app name"><br>
    mysql container name: <input type="text" name="mysql_container" id="" placeholder="enter mysql container">

    <input type="submit" value="submit">

</form>
<!-- <%- include("partials/footer") %> -->